@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors:(
    'primary': (
      'base': #2F80ED,
      'light-3': #1e62c2,
    )
  ),
  $common-component-size: (
    'default': 38px
  ),
  $header: (
    'padding': 0,
  ),
  $main: (
    'padding': 0,
  ),
  $footer: (
    'padding': 0,
  ),
  $link: (
    'text-color': #a1a1a1,
    'hover-text-color': #000000
  ),
  $input: (
    'border-radius': 12px,
    'bg-color': #EEEEEE,
    'hover-border-color': #b8bac7,
    'focus-border-color': #a4a6b0
  ),
  //$input-height: ('default': 36px), // TODO
  //$input-line-height: ('default': 40px), // TODO
  $button: (
    'border-radius': 8px,
    'hover-bg-color': #F0F2F5,
    'hover-text-color': #000000,
    //bg-color: #2F80ED,
    //text-color: #FFF,
    //border-color: #a4a6b0, // TODO
    //hover-border-color: #b8bac7,
    //focus-border-color: #a4a6b0,
    //active-border-color: #a4a6b0,
  ),
  $button-border-radius: ('default': 12px),
  $dropdown:  (
    'menuItem-hover-fill': #dcdfe6,
    'menuItem-hover-color': #333333
  ),
  $avatar: (
    'bg-color': #2F80ED,
  ),
  $dialog:(
    'padding-primary': 0,
    'border-radius': 12px
  ),
  $checkbox: (
    'border-radius': 12px
  ),
  $menu: (
    'hover-bg-color': #ececec
  )
);
